<!-- <div><h1>Tuhin Kole</h1></div> -->

<ion-header ngSkipHydration>
  <ion-toolbar color="primary">
    <ion-title>Demo of Transfer State</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-accordion-group>
    @for (item of (sectorData$ | async); track $index) {
      <ion-accordion [value]="item.ID">
        <ion-item slot="header" color="light">
          <ion-label>{{item.Name}}</ion-label>
          <ion-badge color="danger" slot="end">{{item.Mcap | number: '1.1-1'}}</ion-badge>
        </ion-item>
        <ion-list slot="content" class="ion-no-padding">
          @for (val of item.IndustriesForSector; track $index) {
            <ion-item>
              <ion-label>{{val.Name}}</ion-label>
              <ion-badge color="danger" slot="end">{{val.Mcap | number: '1.1-1'}}</ion-badge>
            </ion-item>
          }
        </ion-list>
      </ion-accordion>
    }
</ion-accordion-group>

